body{
	width: 80%;
	height: 80vh;
	margin: 5% auto;
	text-align: center;
	background: #000;
}

#name{
	background: #c3c3c3;
	border: 0%;
	margin: 2% auto 1%;
	padding: 0.5% 1%;
}

#button{
	display: block;
	clear: both;
	align-content: center;
	margin: 1% auto;
	font-family: sans-serif;
}